/*rem fisso*/
/*vh in base all altezza*/

@font-face{
    font-family: Cookie;
    src: url('/fonts/Cookie/Cookie-Regular.ttf');
}
/*bello ma spesso*/
@font-face {
    font-family: Lobster;
    src: url('/fonts/Lobster/Lobster-Regular.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald/Oswald-Bold.ttf'),
    url('/fonts/Oswald/Oswald-Regular.ttf'),
    url('/fonts/Oswald/Oswald-ExtraLight.ttf'),
    url('/fonts/Oswald/Oswald-Light.ttf'),
    url('/fonts/Oswald/Oswald-Medium.ttf'),
    url('/fonts/Oswald/Oswald-SemiBold.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/RobotoSlab-Regular.ttf'),
    url('/fonts/Roboto/RobotoSlab-Bold.ttf'),
    url('/fonts/Roboto/RobotoSlab-Light.ttf'),
    url('/fonts/Roboto/RobotoSlab-Thin.ttf');
}
/*bello*/
@font-face {
    font-family: SunFlower;
    src: url('/fonts/Sunflower/Sunflower-Medium.ttf')
}
body{
    font-family: SunFlower;
    margin-bottom: 5%;
}

/*Homepage*/
#title{
    font: 170% Lobster;
    text-align: center;
    color: #212529;
}
h1 span {
    font: 30px BufferflyKids;
    height: 23vh;
    position: absolute;
    transform-origin: bottom center;
}
#logohome{
    width:20%;
    margin-left: 40%;
}
#gif{
    width:80%;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 1;
}
.subtitle{
    font: 170% Lobster;
    text-align: center;
}
.gif{
    width: 100%;
}
/*Main header*/
#logo{
    z-index: 1;
    width: 5%;
}
#topmenu{
    text-align: center;
    max-width: 100%;
}
#topmenu nav{
    padding-top: 2%;
}
.mr-auto{
    width: 100%;
}
nav.container
{
    margin: 0 auto;
    text-align: center;
}
a.left
{
    color: #000;
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    border: 4px solid #ffb032;
}
nav.container a
{
     color: #000;
     text-decoration: none;
     font: 20px Lobster;
     margin: 0px 10px;
     padding: 10px 10px;
     position: relative;
     z-index: 0;
     cursor: pointer;
}
nav.container p
{
    color: #000;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    left:2%;
}
#profilo:hover{
    color: black;
    transform: scale(1.2);
}
nav.container.left:hover
{
    color : #ffc107;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}



.circleBehind a:before, .circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #ffb032;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    transition: all 0.3s;
    z-index: -1;
}
.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}
.circleBehind li:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}




#header li{
    display: inline-block;
}
/*Responsive Header*/
.small-col{
    width: 10%;
}
.small-col img{
    width: 55%;
}
.navbar-toggler{
    float: left;
}
/*Secondary Header*/
#headerloggedpeople{
}
#headerloggedpeople li{
    display: inline-block;
}
/*Rightmenu*/
#navbarNav{

    font: 18px Lobster;
    margin-bottom: 25%;
}
.menulateraledestro{
    text-align: center;
    width: 18%;
    position: absolute;
    right: 0%;
    margin: 1%;
    margin-bottom: 10%;
}
#menu{
    flex-direction: column;
}
#menu li{
    margin-bottom: 18%;
}
.menulateraledestro li{
    margin-bottom: 10%;
}
.ul_colonna{
    flex-direction: column !important;
}
.rightmenu_colonna{
    height: 100% !important;
    float: right !important;
    width: 20% !important;
    background-color: rgba(250, 250, 250, 0.8);
    z-index: 3;
    margin-top: 7%;
}
#rightmenu {
    float: right;
    position: absolute;
    width: 20%;
    right: 0%;
}
#rightmenu li{
    text-align: center;
}
.radom_recipe{
    width: 100%;
    border-radius: 50%;
}
.old{
    /*margin-top: 14%;*/
}
/*Cerca Ricette*/
.btn-white{
    color: #000;
    background-color: #eee;
    border-color: #ddd;
    margin-left: 1%;
}
/*Footer*/
.footer{
    margin-top: 2%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}
#menu_under{
    float: left;
}
.container_footer{
    margin-top: 1%;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0%;
}
/*Tutte le ricette*/
.categorie{
    margin-top: 5%;
}
.category{
    width:30%;
    margin-left: 3%;
}
.colonna_categoria{
    border: 3px solid #eee;
}
.lower{
    text-transform: lowercase;
}
#ricette_db{
    margin-top: 2%;
}
.filter{
    width: 15%;
    margin-top: 0%;
    display: inline-block;
}
#cerca_con_filtri{
    width: 10%;
}
h1{
    color: #495057;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}
a:link {color:#212529;}
a:hover {
    color:#ffc107 !important;
    text-decoration: none;
}
.row{
    margin-bottom: 2%;
}
#button_all{
    position: absolute;
    left: 40%;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 6%;
}
.single_recipe{
    text-align: center;
}
.single_recipe_img{
    width: 50%;
}
/*Single Recipe*/
.plus{
    display: inline-block;
    /*position: absolute;*/
    /*left: 45%;*/
    /*top: 10vh;*/
    width: 3rem;
    height: 3rem;
    z-index: 9999;
    background: url('/img/piu3.png') no-repeat rgba(250,250,250, 0.8);
    border-radius: 100px;
    background-size: 90% 90%;
    background-position-x: 50%;
    background-position-y: 50%;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
}
.tick{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    z-index: 9999;
    background: url('/img/tick2.png') no-repeat rgba(250,250,250, 0.8);
    border-radius: 100px;
    background-size: 100% 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(0deg);
}
#back{
    width: 3rem;
    height: 3rem;
    z-index: 9999;
    background: url('/img/gotop.png') no-repeat rgba(250,250,250, 0.8);
    border-radius: 100px;
    background-size: 90% 90%;
    background-position-x: 50%;
    background-position-y: 50%;
    position: absolute;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
    left: 2%;
}
#single_top img{
    width: 60%;
}
.informazioni{
    display: inline-block;
}
#single_top h1{
    margin-bottom: 2%;
}
#single_top{
    margin-top: 2%;
}

/*Everywhere*/
.orange{
    color: #ffb032;
}
.collapse_imp {
    display: none !important;
}
.content{
    width: 80%
}
.form-width{
    width: 100% !important;
    margin-left: 2% !important;
}
.logo-responsive {
    width: 5%;
}
.p-left{
    text-align: left;
}
.h1-left{
    text-align: left;
}
.col-sm img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
#ingredienti{
    margin-top: 4%;
    margin-left: 20%;
    color: #888;
    width: 60%;
    display: inline-block;
}
#ricerca{
    margin-top: 4%;
    color:#888;
    width:60%;
    display: inline-block;
}
.main-form{
    width:60%;
    margin-left:20%;
    text-align:center;
    margin-top: 2%;
}
.main-form .form-control{
    margin-bottom:5px;
}
.main-form .logo{
    max-width:50%;
    max-height:250px;
    display:inline-block;
}
li{
    list-style-type: none;
}
.hidden{
    display: none;
    visibility: hidden;
}
.needs-validation{
    box-shadow: 4px 4px 10px #e4790a;
    outline: none;
}
#scrollup{
    width: 3rem;
    height: 3rem;
    z-index: 9999;
    background: url('/img/gotop.png') no-repeat rgba(250,250,250, 0.8);
    border-radius: 100px;
    background-size: 90% 90%;
    background-position-x: 50%;
    background-position-y: 50%;
    position: fixed;
    display: none;
    bottom: 5%;
    left: 5%;
}
#inserisci_ingredienti{
    text-align: center;
}
/*Profilo*/
.ricettario {
    margin-left: 25%;
}
.ricettario2 {
    margin-left: 37%;
}
.form_new{
    width: 25%;
    display: inline-block;
}
#crawler{
    margin-top: 2%;
    width: 100%;
}
#ricettario{
    margin-top: 2%;
    width: 100%;
}
/*Crawler*/
.inherit{
    display: inherit;
}
.table-column{
    margin-top: 6%;
    width: 90%;
    margin-left: 10%;
}
.btn-outline-danger{
    width: 60%;
    margin-left: 20%;
}
.ricette_ottenute{
    text-align: center;
}
/*Responsive*/
@media all and (max-width: 1090px) {
    h1 span{
        left: 39%;
        top: 10%;
    }
}
@media all and (max-width: 350px) {
    #rightmenu {
        top: 0vh;
        right: 10%;
        float: left;
        position: absolute;
    }
    #header{
        top: 3vh;
    }
    .content{
        margin-top: 35%;
    }
}

@media all and (max-width: 600px) {
    .h1_categoria{
        font-size: 100%;
    }
    .logo-responsive {
        margin-top: 8%;
    }
    .main-form{
        width:90%;
        margin-left:5%;
        margin-top: 20%;
    }
    #navbarauthSupportedContent.collapsing{
        margin-top: 15%;
        background-color: rgba(250, 250, 250, 0.8);
    }
    #navbarauthSupportedContent.show{
        margin-top: 15%;
        background-color: rgba(250, 250, 250, 0.8);
    }
    .right-menu{
        top: 5vh;
        position: absolute;
        right: -8rem;
        background:url('/img/recipes1.png') no-repeat;
        width: 3rem;
        height: 2.5rem;
        background-size: 80% 100%;
        background-position-x: 50%;
        background-position-y: 50%;
    }


}

@media screen and (max-width: 990px) {
    #gif{
        width:100%;
        top: 0%;
        left: 0%;
        position: absolute;
        z-index: 1;
    }
    .a_user{
        position: absolute !important;
        left: 5%;
        width: 13%;
        top: 5vh;
        z-index: 2;
        cursor: pointer !important;
        transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    }
    .utente{
        width: 100%;
    }
    #rightmenu{
        width: 100%;
        top: 7vw;
        position: absolute;
        height: 20%;
    }
    .navbar-toggler.collapsed{
        margin-top: 4vh;
    }
    .navbar-toggler{
        margin-top: 4vh;
    }
    #navbarNav{
        margin: 0%;
        height: 100%;
    }
    #button_add{    display: inline-block;}
    #ingredienti{    display: block;}
    #menu{
        flex-direction: row;
        height: 100%;
    }
    .radom_recipe {
        width: 90%;
        border-radius: 50%;
    }
    .content{
        margin-top: 25%;
        width: 100%;
        margin-left: 0%;
    }
    .menu{
        position: absolute;
        left: 15%;
        top: 0vh;
    }
    #logo{
        position: absolute;
        left: 15%;
    }
    .small-col{
        width: 100%;
    }
    .small-col img{
        width: 10%;
    }
    .disappare{
        display: none;
        visibility: hidden;
    }
    #topmenu{
        display: inline-block;
    }
    .menulateraledestro{
        display: inline-block;
    }
    .navbar-nav.mr-auto{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #profilo.show{
        position: absolute;
        top: 15vh;
        z-index: 3;
        left: 2.5%;
        background-color: rgba(250, 250, 250, 0.8);
    }
    #profilo.collapsing{
        position: absolute;
        top: 15vh;
        left: 2.5%;
        background-color: rgba(250, 250, 250, 0.8);
    }
    .navbar-collapse.collapse.show{
        z-index: 2;
        background-color: rgba(250, 250, 250, 0.8);
    }
    #navbarauthSupportedContent.show{
        margin-top: 10vh;
        background-color: rgba(250, 250, 250, 0.8);
    }
    #navbarauthSupportedContent.collapsing{
        margin-top: 10vh;
        background-color: rgba(250, 250, 250, 0.8);
    }
    li img{
        width: 17rem;
    }
    li u{
        text-transform: uppercase;
        font-size: 100%;
        text-decoration: none;
    }

    li u:hover {
        text-decoration: none;
    }
}
@media screen and (max-width: 870px) {
    h1 span {
        left: 49%;
        top: 13%;
    }
}
@media screen and (max-width: 850px) {
    .a_user{
        width: 16%;
        top: 6vh;
    }
    .logo-responsive {
        position: absolute;
        left: 21%;
        width: 6%;
    }
    #header{
        margin-left: 2%;
    }
    #logo{
        width: 8%;
    }
}

@media screen and (max-width: 800px) {
    .logo-responsive {
        position: absolute;
        left: 31%;
        width: 6%;
    }

}

@media (max-width: 768px){
    body{
        margin-bottom: 20%;
    }
    .content{
        margin-top: 2%;
        /*margin-top: 25%;*/
    }
    #profilo{margin-top: 3%;}
}

/*@media screen and (min-width: 780px) {*/
    /*#mySidenav{*/
        /*width: 0% !important;*/
    /*}*/
/*}*/
@media screen and (max-width: 780px) {
    /*#menu-fixed{*/
        /*background-color: #eee;*/
        /*position: fixed;*/
        /*width: 100%;*/
        /*top: 0%;*/
        /*z-index: 12;*/
    /*}*/
    .right-item{
        width: 120%;
        margin-left: -20%;
    }
    #cerca_con_filtri {
        width: 25%;
    }
    #navbarNav{font-size: 13px;}
    .a_user{
        top:5vh;
    }
    .main-form {
        margin-top: 4%;
    }
    .menu{
        margin-left: 4%;
    }
    #btn_cake {
        right: 10%;
        top: 0%;
    }
    .right-menu{
         top: 1vh;
         position: absolute;
         right: -8rem;
         background:url('/img/ricettario2.png') no-repeat;
         width: 6rem;
         height: 4rem;
         background-size: 80% 100%;
         background-position-x: 50%;
         background-position-y: 50%;
     }
}

@media screen and (max-width: 690px) {
    .a_user{
        width: 19%;
    }
}
@media screen and (max-width: 620px) {
    .logo-responsive {
        width: 8%;
    }
    .filter {
        width: 60%;
        margin-top: 0%;
        display: block;
        margin-left: 20%;
    }
    #cerca_con_filtri {
        width: 60%;
    }
    #logo{
        margin-left: 7%;
        width: 10%;
    }
}
@media screen and (max-width: 605px) {
    .logo-responsive {
        margin-top: 8%;
    }
}
@media screen and (max-width: 570px) {
    .last {
        width: 110% !important;
    }
}
@media screen and (max-width: 470px) {
    .a_user{
        width: 25%;
    }
    .logo-responsive {
        width: 11%;
        left: 37%;
        margin-top: 10%;
    }
    .menu{
        margin-left: 12%;
    }
}
@media screen and (max-width: 420px) {
    #profilo{margin-top: 6%;}
    .menu{margin-top: 9%;}
}
@media screen and (max-width: 400px) {
    #btn_cake{
        top: -2%;
    }
    h1 span{
        left: 46%;
        top: 23%;
    }
    #gif{
        height: 50%;
        margin-top: 25%;
        width: 100%;
        left: 0%;
    }
    #topmenu nav {
        padding-top: 7%;
    }
    #navbarauthSupportedContent.collapsing{
        margin-left: 8%;
        margin-top: 2%;
    }
    #navbarauthSupportedContent.show{
        margin-left: 8%;
        margin-top: 2%;
    }
}
@media screen and (max-width: 380px) {
    #topmenu nav {
        padding-top: 6%;
    }
    .right-menu {
        top: 4vh;
    }
    .a_user{
        width: 30%;
    }
    .h1_categoria{
        font-size: 80%;
    }
    #profilo{margin-top: 0%;}
}
/*End Responsive*/
